@import './base.css';

:root {
  --color-background: #ffffff;
  --color-text: #333333;
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-nav-bg: #01182c;
  --color-card-bg: #ffffff;
}

section h2 {
  color: var(--color-primary) !important;
}

body.dark {
  --color-background: #121212;
  --color-text: #ffffff;
  --color-primary: #90caf9;
  --color-secondary: #adb5bd;
  --color-nav-bg: #1e1e1e;
  --color-card-bg: #1e1e1e;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

/* Dark mode applied to body */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.3s;
}

a:hover {
  color: var(--color-secondary);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #app {
    display: flex;
    flex-direction: column;
    font-size: small;
  }
}

@media(min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}